html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

}

body.correct {
    background-color: rgb(167, 255, 207);
}

body.wrong {
    background-color: rgb(255, 189, 189);
}

.container {
    width: 800px;
    max-width: 80%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.103) 0 0 40px 5px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-message {
    text-align: center;
}

#question {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {

    background-color: #2083ff;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    color: rgb(1, 255, 115)
}

.btn.wrong {
    color: rgb(255, 8, 0);
}

.btn,
.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* Start & Next Button Styling */
.start-btn,
.next-btn {
    box-shadow: #2084ff50 0 10px 30px 5px !important;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.credit {
    position: absolute;
    right: 41%;
    top: 85%;
    display: block;
}

.credit p {
    text-align: center;
}


/* Responsive & Media Queries */

@media screen and (max-width:768px) {
    .welcome-message p {
        font-size: 18px;
        margin: 20px 0;
    }

    #question-container {
        width: 480px;
    }

    #question {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 10px 20px;
        font-weight: 600;
    }

    .btn-grid {
        margin-bottom: 30px;
    }

    .credit {
        position: absolute;
        right: 35%;
        top: 85%;
        display: block;
    }
}

@media screen and (min-width:768px) {
    .welcome-message p {
        font-size: 18px;
        margin: 20px 0;
    }

    #question-container {
        width: 480px;
    }

    #question {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 10px 20px;
        font-weight: 600;
    }

    .btn-grid {
        margin-bottom: 30px;
    }

    .credit {
        position: absolute;
        right: 33%;
        top: 85%;
        display: block;
    }
}


@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
        max-height: 50%;
    }

    .welcome-message h1 {
        font-size: 1rem;
    }

    .welcome-message p {
        font-size: 15px;
        margin: 20px 0;
    }

    .btn {
        font-size: 15px;
        padding: 10px 20px;
    }

    #question-container {
        width: 300px;
    }

    #question {
        font-size: 1rem;
    }

    .credit {
        position: absolute;
        right: 25%;
        top: 82%;
    }
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    .welcome-message h1 {
        font-size: 2rem;
        margin: 20px 0;
    }

    .welcome-message p {
        font-size: 1.2rem;
        margin: 20px 0;
    }

    .credit {
        right: 40%;
    }
}
